apiVersion: batch/v1
kind: Job
metadata:
  name: ingestion-job
  namespace: gio
spec:
  backoffLimit: 0
  template:
    spec:
      containers:
        - name: ingestion
          image: giobibleacr2032.azurecr.io/ingestion-worker:latest
          imagePullPolicy: Always
          env:
            - name: DOC_INTELLIGENCE_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: di-secrets
                  key: endpoint
            - name: DOC_INTELLIGENCE_KEY
              valueFrom:
                secretKeyRef:
                  name: di-secrets
                  key: key
          volumeMounts:
            - name: shared-data
              mountPath: /data
      restartPolicy: Never
      volumes:
        - name: shared-data
          emptyDir: {}
